{% extends 'base.html' %}

{% block head %}
<title>The Home manger</title>
{% endblock %}

{% block body %}
<div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>The Gahdloot Blog</h1>
          <p>This is the Gahdloot Travel blog, We we Tourist doucument their travel expertience so as to help others make better travel desicons <code>...</code> for the audio format, check out <a href="/docs/5.0/examples/navbar-static/">Apple Podcast</a> or <a href="/docs/5.0/examples/navbar-fixed/">Google Podcast</a> for more.</p>
          <p >Informations here could be used for research purposes.</p>
          <p>
            <a class="btn btn-primary" href="/post" role="button">View Post &raquo;</a>
          </p>
        </div>
      </div>
    </div>
{% endblock %}